* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
    --white: #fff;
    --light-bg: #DDE9F7;
    --text-gray: #212121;
    --dark-gray: #1f2937;
    --light-gray: #6b7280;
    --links-bg: #ffffff66;
    --purple: #4b2bee;
}

body {
    background-color: var(--light-bg);
    .app {
        margin: 0 auto;
        max-width: 425px;
        main {
            padding: 20px;
        }
    }
}



button {
    outline: none;
    background: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

a {
    -webkit-tap-highlight-color: transparent;
    color: black;
    text-decoration: none;
}