.links{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    a{
        box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        gap: 15px;
        width: 100%;
        border-radius: 50pc;
        background-color: var(--white);
        padding: 10px 20px;
        .left, .right{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .left{
            svg{
               fill: blue;
               scale: 1.3;  
            }
        }
        .right{
            p{
                color: var(--text-gray);
                font-weight: 800;
            }
            span{
                font-size: 0.8rem;
                color: var(--light-gray);
            }
        }
    }
}